fastapi
uvicorn[standard]
pandas
python-multipart
celery
redis
python-dotenv
pydantic
PyMuPDF
Pillow
openpyxl
opencv-python-headless
openai
xlsx2html
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
cadquery==2.7.0